#root {
    max-width: 1280px;
    padding: 2rem;
    margin: auto;
}

.articles-list {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}

.article-card {
    display: flex;
    flex-flow: column wrap;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
}

.comments-list {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}

.comment-card {
    display: flex;
    flex-flow: column wrap;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.inline {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 0%;
}

.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.user-list {
    display: flex;
    flex-flow: column wrap;
}

.user-card {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.invalid-input {
    border-color: rgba(255, 0, 0, 0.529);
}

.valid-input {
    border-color: rgba(21, 255, 0, 0.529);
}

.valid-input:focus {
    outline-color: rgba(21, 255, 0, 0.529);
}

.invalid-input:focus {
    outline-color: rgba(255, 0, 0, 0.529);
}

.large {
    width: 90vw;
    max-height: 500px;
    object-fit: scale-down;
}

.tag {
    border: 1px gray solid;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.center {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-sub-menu {
    display: flex;
    justify-content: space-between;
}

.header-user-menu {
    display: flex;
    flex-flow: column wrap;
    align-items: end;
}

.icon {
    padding: 1.5em;
    width: 32px;
    height: 32px;
}

.voting {
    border: 1px gray solid;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

.comment {
    color: black;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.round {
    border-radius: 50%;
}

.vote-success {
    border: none;
    pointer-events: none;
    background-color: rgb(229, 229, 229);
}

.vote-error {
    border-color: red;
}

.vote-loading {
    pointer-events: none;
}